/*************************
BASE
**************************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  padding-top: 84px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #333; }

p {
  line-height: 1.5rem;
  font-size: 1.125rem; }

a {
  text-decoration: none; }

.container {
  max-width: 90%;
  width: 100%;
  margin: auto; }

.headline__title {
  color: #224565;
  padding: 10px 0; }
  .headline__title.headline__title-ctr {
    text-align: center; }
  .headline__title.headline__title-l {
    font-size: 3rem; }
  .headline__title.headline__title-m {
    font-size: 2rem; }

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem; }
  .subtitle.subtitle_sm {
    font-size: 1.3rem; }
  .subtitle.subtitle_ctr {
    text-align: center; }

/*************************
HEADER
**************************/
#header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%; }

.header__container {
  background-color: #081526;
  color: white;
  padding: 1rem 0; }
  .header__container .header__logo_center {
    margin: 0 auto 1rem;
    text-align: center; }

/*************************
NAV
**************************/
nav {
  text-align: center; }
  nav a {
    color: #e2ecf9; }
  nav li {
    display: inline-block;
    margin-right: 1.5rem; }
  nav .nav-link .nav-link_m {
    font-size: 1.125rem; }

/*************************
MAIN HERO SECTION
**************************/
.main-hero {
  background: #081526 url("../images/field-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  position: relative; }
  .main-hero .main-hero-container {
    background: rgba(204, 223, 237, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 1rem; }

/*************************
GENERAL SECTIONS
**************************/
section {
  padding: 3rem 0; }
  section.background_1 {
    background: #f7f7f7; }

.card-container .single-card {
  padding: 2rem; }
  .card-container .single-card:nth-child(even) {
    background-color: #f7f7f7; }

.vid-container {
  margin: 1.25rem auto;
  max-width: 500px;
  width: 100%; }

.price-container {
  margin-top: 6rem; }
  .price-container .price-box {
    background: #fff;
    max-width: 300px;
    min-height: 400px;
    width: 100%;
    margin: auto;
    margin-top: 6rem;
    padding: 1rem 2rem;
    position: relative; }
  .price-container .price {
    text-align: center;
    width: 4rem;
    height: 4rem;
    background: #EC900F;
    border-radius: 50%;
    padding: 4rem;
    margin: auto;
    position: absolute;
    left: 50%;
    top: -4rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .price-container .price-amt {
    color: #fdf2e3;
    font-size: 1.5rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute; }
  .price-container .price-desc {
    text-align: justify;
    margin-top: 5rem; }

/*************************
FOOTER
**************************/
footer {
  background-color: #2c2c2c;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: .75rem; }
