/*************************
BASE
**************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
  padding-top: 84px;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  color: #333;
}

p {
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  width: 100%;
  margin: auto;
}

.headline__title {
  color: $headingsBlue;
  padding: 10px 0;

  &.headline__title-ctr {
    text-align: center;
  }

  &.headline__title-l {
    font-size: 3rem;
  }

  &.headline__title-m {
    font-size: 2rem;
  }
}
